*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100vw;
  height: 70px;
  margin-left: -11.5%;
  padding: 0px;
  background: #2F80ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoContainer{
  width: 147px;
  height: 59px;
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  position: absolute;
  margin-left: 20px;
  top: 2%;
}

.searchBar{
  font-size: 24px;
  font-family: Roboto;
  color: #FFF;
  width: 30%;
  height: 45px;
  border-radius: 5px;
  border: 0px;
  background: #2F6EED;
  position: absolute;
  padding: 5px;
  left: 20%;
  top: 2%;
}

.navBarContainer{
  position: absolute;
  left: 55%;
  top: 4%;
}

.LobbyContainer{
  position: absolute;
  margin-top: 20px;
  align-content: center;
}

.lobby-item{
  width: 355px;
  height: 196px;
  left: 0px;
  top: 0px;
  width: 355px;
  height: 196px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item{
  width: 79px;
  height: 43px;
  background: #2F6EED;
  width: 49px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  margin-right: 5px;
}

.nav-item:hover, .nav-item:active, .nav-item:visited, .nav-item:focus{
  text-decoration: none;
  color: #FFF;
}

.AuthLinksContainer{
  position: absolute;
  right: 1vw;
}

.AuthLinksContainer a, .AuthLinksContainer a:active, .AuthLinksContainer a:visited,
.AuthLinksContainer a:focus, .AuthLinksContainer a:hover{
  color: #FFF;
  font-size: 18px;
  font-family: Roboto;
  text-decoration: none;
}

.login{
  margin-right: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
}

.underConstruction{
  width: 100%;
  height: 100%;
}
