*{
  margin: 0;
  padding: 0 !important;
}

p {
    margin: 0;
    padding: 0;
}

input {
  padding: 7px !important;
}

.header{
  width: 100vw !important;
  /*width: 100% !important;*/
  max-width: 100% !important;
  height: 70px;
  /*-margin-left: -11.5%;*/
  margin: 0% !important;
  padding: 0px !important;
  background: #2F80ED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: initial !important;
}



.header-comps-left{
  float: left;
  width: 80vw;
}

.footer{
  width: 100vw;
  height: 200px;
  margin-left: -11.5%;
  background: #CCC;
}


.logoContainer{
  width: 147px;
  height: 59px;
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 100%;
  color: #FFFFFF;
  /*position: absolute;*/
  float: left;
  margin-right: 11vw;
  margin-left: 20px;
  margin-top: 1.5%;
}

.searchBar{
  font-size: 24px;
  font-family: Roboto;
  color: #FFF;
  width: 30%;
  height: 45px;
  border-radius: 5px;
  border: 0px;
  background: #2F6EED;
  position: relative;
  float: left;
  padding: 0px 5px!important;
  clear: top;
  margin-top: 1.3vh;
}

.navBarContainer{
  position: relative;
  float: left;
  left: 7%;
  margin-top: 1.7%;
}

.container{
  /*position: absolute;*/
  position: relative;
  /*float: left;*/
  margin: auto !important;
  /*margin-top: 20px;*/
  /*width: 100%;*/
  width: 100vw !important;
  max-width: 100% !important;
  /*outline: red solid;*/
  font-family: Roboto;
}

.Container{
  /*position: absolute;*/
  position: relative;
  /*float: left;*/
  /*margin-top: 20px;*/
  width: 60%;
  display: block;
  float: left;
  margin-top: 10mm;
  margin-left: 6vw;
  margin-right: 0%;
  max-width: 100% !important;
  /*outline: red solid;*/
  font-family: Roboto;
  font-size: 14px;
}

.lobby-item{
  width: 355px;
  height: 190px;
  float: left;
  left: 0px;
  top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px !important;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.LobbyImage{
  width: 100px;
  height: 100px;
  border-radius: 180px;
}

.display-picture{
  position: relative;
  left: 2px;
  float: left;
  margin: 0;
  width: 35%;
}

.profile-picture{
  position: relative;
  left: 5px;
  clear: left;
  float: left;
  margin: 0;
  width: 30%;
  margin-right: 15px;
  border-radius: 180px;
}

.comment-profile-picture{
  position: relative;
  left: 2px;
  top: 10px;
  float: left;
  margin: 0;
  width: 8%;
  margin-right: 15px;
  border-radius: 180px;
}

.review-form{
  display: none;
}

.DisplayImageContainer{
  margin-right: 15px;
  height: 30%;
}

.item-info{
  position: relative;
  font-family: Roboto;
  width: 55%;
  float: right;
}

.loggedInGreeting{
  color: #FFF;
  font-weight: bold;
}

.nav-item{
  width: 79px;
  height: 43px;
  background: #2F6EED;
  width: 49px;
  height: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 10px !important;
  border-radius: 5px;
  border: 0px;
  margin-right: 5px;
}

.nav-item:hover, .nav-item:active, .nav-item:visited, .nav-item:focus{
  text-decoration: none;
  color: #FFF;
}

.AuthLinksContainer{
  position: absolute;
  right: 1vw;
  top: 0.2vh;
}

.AuthLinksContainer a, .AuthLinksContainer a:active, .AuthLinksContainer a:visited,
.AuthLinksContainer a:focus, .AuthLinksContainer a:hover{
  color: #FFF;
  font-size: 14px;
  font-family: Roboto;
  text-decoration: none;
}

in{
  margin-right: 10px;
}

.readMore, .readMore:hover, .readMore:focus, .readMore:visited, .readMore:active{
  border-radius: 5px;
  text-decoration: none;
  background-color: #2F6EED;
  border: 0;
  color: #FFF;
  font-family: Roboto;
  padding: 5px;
  position: absolute;
  right: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CCC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #CCC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #CCC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #CCC;
}

.underConstruction{
  width: 100%;
  height: 100%;
}

form a {
  margin-left: 5px;
}
.AuthContainer{
  /*position: absolute;*/
  position: relative;
  /*float: left;*/
  /*margin-top: 20px;*/
  width: 100%;
  display: block;
  float: left;
  margin-top: 10mm;
  margin-left: 6vw;
  margin-right: 0%;
  max-width: 100% !important;
  /*outline: red solid;*/
  font-family: Roboto;
  font-size: 14px;
}

.AuthContainer h2 {
  color: #2F6EED;
}

.LogInAuthContainer{
  position: relative;
  width: 30%;
  float: left;
  left: 15px;
  margin-right: 10%;
}

.LogInAuthContainer > .loginContainer > form > button{
  padding: 2px 4px !important;
}

.LogInAuthContainer > .loginContainer > form > a{
  padding: 2px 4px !important;
}

.SignUpAuthContainer{
  position: relative;
  width: 50%;
  float: left;
  right: 0px;
}

.SignUpAuthContainer > .signupContainer > form > button{
  padding: 2px 4px !important;
}

.SignUpAuthContainer > .signupContainer > form > a{
  padding: 2px 4px !important;
}

.form-button{
  position: relative;
  top: 5%;
}


.restaurantItem-container{
  width: 100%;
  height: auto;
  /*outline: black dashed;*/
  padding: 0% !important;
  margin-top: 15px !important;
}

.restaurantItem-container > :first-of-type{
  clear: left !important;
}
.restaurantItem{
  width: 350px;
  height: 120px;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  /*outline: red solid;*/
}

.eventItem{
  padding: 5px;
  width: 360px;
  height: 160px;
  float: left;
  margin-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 5px;
}

.universityItem{
  padding: 5px;
  width: 380px;
  height: 160px;
  float: left;
  margin-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 5px;
}

.admission, .rent {
  color: green;
  font-weight: bold;
}

.houseItem{
  padding: 5px;
  width: 360px;
  height: 180px;
  float: left;
  margin-right: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-radius: 5px;
}

.left-item{
  width: 48%;
  float: left;
}

.right-item{
  width: 48%;
  float: right;
}

.restaurantItem h4{
  color: #2F6EED;
}

.information{
  font-family: Roboto;
  width: 60%;
  float: right;
}

.information a{
  float: right;
  margin-right: 5px;
}

.information p{
  margin: 0;
  padding: 0;
}


hr.line-blue-left {
    border: 0;
    height: 5px;
    background-color: #41a9c6;
    width: 66px;
    margin-left: 0px;}


hr.line-orange-center {
        border: 0;
        height: 3px;
        background-color: #f57e3a;
        width: 166px;}

hr.line-brightPink-left {
        border: 0;
        height: 1.5px;
        background-color: #ED2F55;
        width: 160px;
        margin-left: 0px;
        }

hr.line-brightPink-left-sm {
        border: 0;
        height: 1.5px;
        background-color: #ED2F55;
        width: 100px;
        margin-left: 0px;
        }


hr.line-green-right {
        border: 0;
        height: 5px;
        background-color: #2cba6c;
        width: 66px;
        margin-right: 0px;}

.form-elements-container{
  width: 100%;
  height: 100px;
}


element.style {
    height: 140px;
}

.restaurant-menu{
  margin-top: 20px;
  font-family: Roboto;
  background: #FFFFFF;
  padding: 20px;
  float: left;
  clear: left;
  width: 100%;
  position: relative;
}

.restaurant-comment{
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  padding: 20px;
  font-family: Roboto;
}

.blue-links, .blue-links:hover, .blue-links:visited, .blue-links:focus, .blue-links:active{
  color: 2F6EED;
  font-family: Roboto;
  text-decoration: none;
}

.filterRestaurant{
  width: 300px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.MenuItemContainer{
  float: left;
  height: 50px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.comment-item{
  padding: 20px !important;
  margin-bottom: 5px;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.comment-item .comment-header{
  color: #2F6EED;
}

.comment-item button{
  margin-top: 5px;
}

.comment-item textarea{
  display: none;
  margin-top: 5px;
}

.comment-reply{
  width: 95%;
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 5px;
  font-family: Roboto;
  border: 1px solid #EFEFEF;
}

.sidebar-info{
  position: relative;
  /*top: 26.85vh;*/
  float: left;
  margin-top: 4.5%;
  margin-right: 6vw;
  background-color: #EDEDED;
  border-radius: 3px;
  padding: 10px !important;
  font-family: Roboto;
  font-size: 14px;
}

.sidebar-info-review, .sidebar-info-appointments, {
  position: relative;
  /*top: 26.85vh;*/
  float: left;
  margin-top: 4.5%;
  margin-right: 6vw;
  background-color: #FFF;
  border-radius: 3px;
  padding: 10px !important;
  font-family: Roboto;
  font-size: 14px;
}

.sb-btn{
  padding: 2px 4px !important;
}

.sidebar-info h5{
  color: #A0001D;
}

.recommend{
  margin-top: 20px;
  font-family: Roboto;
  float: right;
  margin-bottom: 5px;
}

.error{
  background-color: #FF7070;
  border-radius: 3px;
  color: #FFF;
  margin-top: 10px;
  padding: 15px;
}

.success{
  background-color: #61FF5E;
  border-radius: 3px;
  color: #FFF;
  margin-top: 10px;
  padding: 15px;
}

.loginResponse, .signUpResponse{
  display: none;
}

.sidebarButton{
  margin-right: 5px;
  padding: 5px !important;
}

.loading-animation{
    position: fixed;
    z-index: 100;
    left: 45vw;
    top: 45vh;
}

.authHeader p, authHeader a{
    margin: 0;
    padding: 0;
}

.user-photo{
  width: 35%;
}

.user-info{
  width: 65%;
}

#upload, #filename{
  display: none;
}

.signout-container{
  position: relative;
  left: 30%;
}

.signed-out-img{
  width: 30%;
}

@keyframes lds-square {
  0%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  20% {
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.1, 0, 1, 0.9);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-square {
  0%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  20% {
    animation-timing-function: cubic-bezier(0, 0.1, 0.9, 1);
  }
  50% {
    animation-timing-function: cubic-bezier(0.1, 0, 1, 0.9);
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.lds-square {
  position: relative;
}
.lds-square div {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-animation: lds-square 1s infinite;
  animation: lds-square 1s infinite;
}
.lds-square div:nth-child(1) {
  top: 10px;
  left: 10px;
  background: #93dbe9;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-square div:nth-child(2) {
  top: 70px;
  left: 10px;
  background: #689cc5;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-square div:nth-child(3) {
  top: 130px;
  left: 10px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(4) {
  top: 10px;
  left: 70px;
  background: #689cc5;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-square div:nth-child(5) {
  top: 70px;
  left: 70px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(6) {
  top: 130px;
  left: 70px;
  background: #3b4368;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-square div:nth-child(7) {
  top: 10px;
  left: 130px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-square div:nth-child(8) {
  top: 70px;
  left: 130px;
  background: #3b4368;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-square div:nth-child(9) {
  top: 130px;
  left: 130px;
  background: #191d3a;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-square {
  width: 100px !important;
  height: 100px !important;
  -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
  transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
